= form_for CurrentBid.new do |f|

  .form-inline
  
    = f.select :parking_spot, ["Your parking spot"].concat(CurrentBid.auction_spots)
    
    = f.text_field :name, :placeholder => "Your Name", :class => "input-medium"
    
    = f.text_field :email, :placeholder => "youremail@ca.ibm.com", :class => "input-medium"
    
    .input-prepend.input-append
      %span.add-on $
      = f.number_field :max_bid, :placeholder => "Your Maximum Bid", :class => "input-medium"
      %span.add-on .00 
    
    = f.submit 'Place Bid', :class => 'btn btn-primary', :style => "margin: 0 15px 0 15px"
